.header-area-with-breadcumb-bg{
    background-image: url(../img/breadcumb-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .page-heading{
        margin-top: 90px;
        h1{
            font-size: 60px;
            color: $color-white;
            font-weight: 600;
        }
    }
    .breadcumb-nav{
        margin-top: 40px;
        padding-bottom: 40px;
        .breadcrumb{
            // 
            li{
                color: $color-white;
            }
            .breadcrumb-item+.breadcrumb-item::before {
                content: '|';
                color: $color-white;
            }
            a{
                color: $color-white;
                text-decoration: none;
            }
        }
    }  
}

.featured-courses{
    .btn{
        background:none;
        color:$color-light-orange;
    }
}

// @media(max-width: 780px)
// {
//     .company-google-map iframe{
//         max-width: 460px;
//         height: 400px;
//     }
//     .contact-info {
//         margin-top: 50px;
//     }
//     .form-control-email{
//         margin-top: 20px;
//     }
    
// }