$color-primary:#4255A4;
$color-light-orange: #FF9F67;
$color-white:#FFF;
$color-black: #000;
$color-desaturated-dark-blue: #6e7697;
$color-light-violet:#C86FFF;
$color-fade-black:#999999;
$color-pale-violet:#fbf9ff;
$color-dark-blue:#10285d;